body {
	overflow-y: scroll;
	padding-top: 80px;
}

a {
	border-bottom: 1px solid #ccc;
}

a:hover {
	border-bottom: 1px solid #333;
	text-decoration: none;
}

p {
	margin: 0 0 20px;
}

code {
	color: inherit;
	font-style: normal;
}

blockquote {
	font-style: italic;
}

blockquote p {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin-bottom: inherit;
}

.navbar {
}

.navbar a {
	border-bottom: none;
}

	.navbar .brand .home {
		display: none;
	}

	.navbar .email .tools {
		display: none;
	}

.container {
	padding: 0 20px;
	min-width: 240px;
	max-width: 940px;
	width: auto !important;
}

.divider {
  border-bottom: 1px solid #e5e5e5;
	margin-bottom: 26px;
}

.modal {
	display: none;
}

.alert {
	cursor: pointer;
}

.alert.alert-float {
	position: fixed;
	top: 100px;
	z-index: 999;
	width: auto;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.alert.alert-sticky {
	cursor: default;
}

#contents {
	position: relative;
}

#page-head-wrap {
	display: table;
	width: 100%;
}

#page-head {
	display: table-cell;
	font-style: italic;
	height: 300px;
	text-align: center;
	vertical-align: middle;
}

	#page-head h1 {
		font-weight: normal;
	}

#items-read-line {
	color: #ccc;
	display: none;
	font-family: EntypoRegular;
	font-size: 2em;
	line-height: 50px;
	margin: 0 -30px;
	position: fixed;
	top: 0;
}

	#items-read-line:before {
		content: '\E766';
	}

#items-footer {
	color: #999;
	font-style: italic;
	margin-top: 100px;
	text-align: center;
}

#items {
}

	#items .placeholder {
		border-top: 1px solid #e9e9e9;
	}

article {
	border-top: 1px solid transparent;
	margin-bottom: 52px;
}

	article h1 {
		margin-top: 0;
	}

	article.boring h1 {
		color: #999;
	}

	article.inactive.boring h1 {
		text-decoration: line-through;
	}

	article .item-toggle {
		display: none;
	}

	article.inactive {
		cursor: pointer;
	}

		article.inactive a, article.collapsed a {
			border-bottom: none;
		}

	article .item-wrap {
		display: none;
	}

	article .item-date {
		font-size: small;
	}

		article .item-date .feed-options {
			display: none;
		}

		article .item-date .entypo {
			font-size: 1.7em;
		}

		article.active .item-date:hover .feed-options {
			display: inherit;
		}

	article .article-buttons {
		overflow: hidden;
		margin-top: 20px;
	}

		article.inactive .article-buttons {
			opacity: .5;
		}

		article .article-buttons a {
			text-decoration: none;
		}

		article .article-buttons button {
			margin-right: 10px;
		}

	article p {
		text-align: justify;
	}

	article h1 a, article h1 a:hover, article h1 a:active, article h1 a:focus {
		border-bottom: none;
		text-decoration: none;
	}

	article.active h1 a:hover:after {
		content: ' \2192'
	}

	article img {
		background: #fff;
		border: 1px solid #fff;
		margin: 2px 0;
		max-height: 100px;
		max-width: 932px;
	}

	article p img, article h1 img, article h2 img, article h3 img, article h4 img, article h5 img, article h6 img {
		display: block;
		margin: 20px 0;
	}

	article .item-contents > p:first-child img {
		float: left;
		margin: 5px 20px 10px 0;
		max-height: 250px;
		max-width: 300px;
	}

	article img:hover {
		max-height: 1000px;
		max-width: 80%;
	}

fieldset {
  border-bottom: 1px solid #e5e5e5;
	margin: 26px;
}

fieldset:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

#subscriptions {
}

	#subscriptions li {
	}

	#subscriptions li span {
		visibility: hidden;
	}

	#subscriptions li:hover span {
		visibility: visible;
	}

	#subscriptions li .unsubscribe {
		color: #9c0001;
	}

#account-words {
	cursor: default;
	line-height: 2em;
	text-align: justify;
	text-transform: uppercase;
}

	#account-words span {
		border: 1px solid #fefefe;
		display: inline-block;
		padding: 2px 5px;
		margin: 3px 0;
		vertical-align: middle;
		-webkit-border-radius: 3px;
			 -moz-border-radius: 3px;
						border-radius: 3px;
	}

	#account-words .interesting {
	}

	#account-words .boring {
		color: #ccc;
	}

	#account-words span:hover {
		background: #fff;
		border: 1px solid #ececec;
		color: inherit;
	}

#feedback {
	border: 2px solid #fff;
	line-height: 30px;
	font-size: small;
	position: fixed;
	text-align: center;
	bottom: 0;
	margin: 0;
	right: 0;
	width: 100px;
}

	#feedback a {
		background: #ccc;
		border: none;
		display: block;
		color: #fff;
	}

	#feedback a:hover {
		background: #333;
	}

@media all and (max-width: 995px) {
	.alert {
		width: auto;
	}
}

@media all and (max-width: 850px) {
	body {
		padding-top: 40px;
	}

	.navbar .brand {
		line-height: 2em;
	}

	.navbar-fixed-top li span {
		display: none;
	}

	.navbar-fixed-top li .entypo, .navbar-fixed-top .brand .entypo {
		font-size: 3em;
		line-height: .8em;
	}

	.navbar-fixed-top li.email .entypo {
		display: inline-block;
	}

	.navbar-inner {
		min-height: 40px;
	}

	.control-group .control-label {
		float: none;
		font-weight: bold;
		text-align: left;
		width: auto;
	}

	.control-group .controls {
		margin-left: 0;
	}
}

@media all and (max-width: 380px) {
	.navbar .brand {
		line-height: inherit;
	}

	.navbar-fixed-top .brand span {
		display: none;
	}

	.navbar-fixed-top .brand .entypo {
		display: inline-block;
	}

	.navbar-fixed-top .dropdown li span {
		display: inherit;
	}
}
