@font-face {
  font-family: "MerriweatherRegular";
  src: url('../fonts/merriweather/Merriweather-Regular-webfont.eot');
  src: url('../fonts/merriweather/Merriweather-Regular-webfont.eot?#iefix') format('eot'), url('../fonts/merriweather/Merriweather-Regular-webfont.woff') format('woff'), url('../fonts/merriweather/Merriweather-Regular-webfont.ttf') format('truetype'), url('../fonts/merriweather/Merriweather-Regular-webfont.svg#MerriweatherRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MerriweatherItalic";
  src: url('../fonts/merriweather/Merriweather-Italic-webfont.eot');
  src: url('../fonts/merriweather/Merriweather-Italic-webfont.eot?#iefix') format('eot'), url('../fonts/merriweather/Merriweather-Italic-webfont.woff') format('woff'), url('../fonts/merriweather/Merriweather-Italic-webfont.ttf') format('truetype'), url('../fonts/merriweather/Merriweather-Italic-webfont.svg#MerriweatherItalic') format('svg');
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "MerriweatherBold";
  src: url('../fonts/merriweather/Merriweather-Bold-webfont.eot');
  src: url('../fonts/merriweather/Merriweather-Bold-webfont.eot?#iefix') format('eot'), url('../fonts/merriweather/Merriweather-Bold-webfont.woff') format('woff'), url('../fonts/merriweather/Merriweather-Bold-webfont.ttf') format('truetype'), url('../fonts/merriweather/Merriweather-Bold-webfont.svg#MerriweatherBold') format('svg');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "MerriweatherHeavy";
  src: url('../fonts/merriweather/Merriweather-Black-webfont.eot');
  src: url('../fonts/merriweather/Merriweather-Black-webfont.eot?#iefix') format('eot'), url('../fonts/merriweather/Merriweather-Black-webfont.woff') format('woff'), url('../fonts/merriweather/Merriweather-Black-webfont.ttf') format('truetype'), url('../fonts/merriweather/Merriweather-Black-webfont.svg#MerriweatherHeavy') format('svg');
  font-weight: bold;
  font-style: normal; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background: white;
  color: #333333;
  font-family: MerriweatherRegular, Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  overflow-y: scroll;
  padding: 60px 0 100px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: MerriweatherHeavy, Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  line-height: 1.2em;
  margin: 25px 0 15px 0;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 34px;
  margin-top: 45px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

ul, ol {
  padding: 0;
  margin: 0 0 15px 20px; }
  ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0; }
  ul li, ol li {
    line-height: 26px; }

a {
  border-bottom: 1px solid #cccccc;
  color: inherit;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #333333;
    text-decoration: none; }
  a:hover, a:focus, a:active {
    color: black;
    outline: none; }

img {
  color: #999999;
  font-size: 80%; }

p, table {
  margin: 0 0 15px; }

strong, b {
  font-family: MerriweatherBold, Georgia, "Times New Roman", Times, serif; }

em, i {
  font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif; }

code {
  font-style: normal; }

code, pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: inherit;
  font-family: Consolas, "DejaVu Sans Mono", "Liberation Mono", Courier, monospace;
  font-size: 13px;
  padding: 0 3px 2px; }

code {
  padding: 2px 4px;
  white-space: nowrap; }

pre {
  display: block;
  padding: 12.5px;
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 26px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap; }
  pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0; }

blockquote {
  background: #f8f8f8;
  font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin-bottom: 15px;
  padding: 15px 15px 0 15px;
  margin: 0 0 15px;
  border-left: 5px solid #eeeeee;
  overflow: hidden; }
  blockquote p {
    margin-bottom: 15px; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

.alert {
  background-color: white;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 85%;
  padding: 7.5px 15px;
  margin-bottom: 30px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.alert-success {
  color: #1c9b47;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.alert-error {
  color: #9c0001;
  background-color: #f2dede;
  border-color: #eed3d7; }

header {
  background: white;
  border-bottom: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; }
  header .container {
    position: relative; }
  header h1 {
    font-family: MerriweatherBold, Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: inherit;
    margin: 0 0 0 -20px; }
    header h1 strong {
      display: none; }
  header h2 {
    display: none; }
  header p {
    display: none; }
  header a {
    border-bottom: none;
    display: inline-block;
    padding: 0 20px; }
    header a:hover, header a:active {
      border-bottom: none; }
  header ul {
    font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0; }
    header ul li {
      border: 1px solid transparent;
      border-width: 0 1px;
      display: inline-block;
      float: left;
      position: relative; }
      header ul li.signup span {
        background: #aa0000;
        color: white;
        padding: 5px 8px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
      header ul li.active {
        border-color: #eeeeee;
        border-width: 0 1px;
        color: black; }
      header ul li.mark-all-read {
        border-bottom: 1px solid #eeeeee;
        margin-bottom: 10px;
        padding-bottom: 10px; }
      header ul li a {
        display: inline-block;
        padding: 0 20px;
        line-height: 60px; }
      header ul li ul {
        background: white;
        border: 1px solid #cccccc;
        border-top: 1px solid #eeeeee;
        max-height: 400px;
        overflow: hidden;
        overflow-y: auto;
        padding: 10px 0;
        right: 0;
        top: 60px;
        width: 150px;
        z-index: 99; }
      header ul li.email ul {
        right: 20px; }
      header ul li ul.collapsed {
        display: none; }
      header ul li ul li {
        border-width: 0;
        display: block;
        float: none; }
        header ul li ul li.active {
          border-width: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none; }
        header ul li ul li a {
          display: block;
          line-height: 1.5em;
          padding: 5px 20px; }
          header ul li ul li a:hover {
            background: #f8f8f8; }

.item-count {
  display: none;
  font-size: 80%;
  line-height: 1em;
  position: relative;
  top: -0.2em; }

.container {
  padding: 0 20px;
  margin: 0 auto;
  min-width: 240px;
  max-width: 940px;
  width: auto !important; }

.divider {
  margin: 52px 0 26px 0; }

.modal {
  display: none; }

.alert {
  cursor: pointer; }
  .alert h4 {
    margin-top: 15px; }
  .alert .btn {
    margin: 15px 5px 0 0; }
  .alert.alert-float {
    position: fixed;
    top: 100px;
    z-index: 9;
    width: auto;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065); }
  .alert.alert-sticky {
    cursor: default; }

.jump {
  font-size: 85%; }
  .jump p {
    margin-bottom: 0; }
  .jump ul li {
    list-style: none; }

#overlay {
  background: white;
  display: none;
  height: 100%;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8; }

#contents {
  position: relative; }

#page-head-wrap {
  display: table;
  width: 100%; }

#page-head {
  display: table-cell;
  font-style: italic;
  height: 300px;
  text-align: center;
  vertical-align: middle; }
  #page-head h1 {
    font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
    font-weight: normal; }
  #page-head p {
    font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
    height: 40px;
    margin-bottom: 0;
    overflow: hidden;
    position: relative; }
  #page-head span {
    display: none;
    line-height: 30px;
    position: absolute;
    width: 100%; }
    #page-head span:first-child {
      display: block; }

#items-read-line {
  color: #cccccc;
  display: none;
  font-family: EntypoRegular;
  font-size: 2em;
  line-height: 50px;
  margin: 0 -30px;
  position: fixed;
  top: 0; }
  #items-read-line:before {
    content: "\E766"; }

#items-footer {
  color: #999999;
  font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 100px 0;
  text-align: center; }

#items .loading {
  background: url('../images/loading.gif?1362794548') center center no-repeat;
  margin-bottom: 52px;
  height: 64px; }
#items .placeholder {
  border-top: 1px solid #e9e9e9; }
#items .date-separator {
  border-bottom: 1px solid #cccccc;
  color: #666666;
  height: 0.75em;
  font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 40px 0 45px 0;
  text-align: center; }
  #items .date-separator span {
    background: white;
    padding: 0 1em; }
#items .pagination {
  font-size: 80%;
  text-align: center; }

article {
  border-top: 1px solid transparent;
  margin-bottom: 30px; }
  article ul, article ol, article blockquote, article table, article pre, article img, article h1, article h2, article h3, article h4, article h5, article h6 {
    clear: both; }
  article iframe {
    display: none; }
    article iframe[src] {
      border: none;
      clear: both;
      display: block;
      height: 315px;
      margin-bottom: 15px;
      width: 560px; }
  article li {
    margin-bottom: 5px; }
    article li p {
      margin-bottom: 5px; }
    article li ul {
      margin-top: 5px; }
  article h1 {
    margin: 0 0 10px 0; }
  article.boring h1 {
    color: #999999; }
  article.inactive.boring h1 {
    text-decoration: line-through; }
  article.inactive {
    cursor: pointer; }
    article.inactive a {
      border-bottom: none; }
  article.collapsed a, article.collapsed a:hover, article.collapsed a:focus, article.collapsed a:active {
    border-bottom: none;
    color: inherit; }
  article .item-wrap {
    display: none; }
  article .item-date {
    color: #666666;
    font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
    font-size: 85%;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px; }
    article .item-date strong {
      letter-spacing: 0; }
    article .item-date .feed-options {
      display: none; }
    article .item-date .entypo {
      font-size: 1.7em; }
  article.active.expanded .item-date {
    color: inherit; }
  article.active.expanded:hover .item-date .feed-options {
    display: inline; }
  article .article-buttons {
    clear: both;
    margin: -10px 0 45px 0; }
    article .article-buttons a {
      text-decoration: none; }
    article .article-buttons .share {
      display: inline-block;
      position: relative; }
      article .article-buttons .share ul {
        background: white;
        border: 1px solid #cccccc;
        bottom: 29px;
        display: none;
        font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
        font-size: 14px;
        font-style: italic;
        left: 0;
        margin: 0;
        padding: 10px 0;
        position: absolute;
        text-align: left;
        width: 120px; }
        article .article-buttons .share ul li {
          display: block;
          list-style: none;
          margin: 0; }
          article .article-buttons .share ul li a {
            border: none;
            display: block;
            line-height: 30px;
            padding: 0 20px; }
            article .article-buttons .share ul li a:hover {
              background: #f8f8f8; }
    article .article-buttons button {
      font-size: 80%;
      margin: 15px 10px 0 0;
      position: relative; }
      article .article-buttons button.item-share ul {
        background: white;
        border: 1px solid #cccccc;
        bottom: 28px;
        font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
        font-size: 14px;
        font-style: italic;
        left: -1px;
        margin: 0;
        padding: 10px 0;
        position: absolute;
        text-align: left;
        width: 180px; }
        article .article-buttons button.item-share ul li {
          display: block;
          list-style: none;
          margin: 0; }
          article .article-buttons button.item-share ul li a {
            border: none;
            display: block;
            line-height: 30px;
            padding: 0 20px; }
            article .article-buttons button.item-share ul li a i {
              font-size: 2em; }
  article.inactive .article-buttons {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  article p.caption {
    font-family: MerriweatherItalic, Georgia, "Times New Roman", Times, serif;
    font-size: 80%;
    font-style: italic;
    text-align: left; }
  article p.no-text {
    text-align: left; }
    article p.no-text img {
      display: inline-block;
      margin: 0;
      vertical-align: top; }
  article h1 a, article h1 a:hover, article h1 a:active, article h1 a:focus {
    border-bottom: none;
    text-decoration: none; }
  article.active.expanded h1 a:hover:after {
    content: " \2192";
    margin-left: 15px;
    position: absolute; }
  article img {
    background: white;
    border: 1px solid white;
    display: block;
    margin: 15px 0;
    padding: 5px 2px 5px 0;
    max-width: 100%;
    max-height: 2000px;
    vertical-align: bottom; }
    article img.feature {
      float: left;
      margin: 0 15px 15px 0 !important;
      max-height: 300px;
      max-width: 50%;
      padding: 0; }
    article img.image-left {
      float: left;
      margin: 0 15px 15px 0;
      padding: 0; }
    article img.image-right {
      margin: 15px 0 0 0; }
    article img[data-src] {
      border: 1px solid #ececec;
      padding: 8px 5px;
      margin: 1px; }
  article .alert {
    font-size: 80%;
    text-align: left;
    margin: 20px 0 15px 0; }

.well {
  padding: 10px;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  .well button, .well .btn {
    font-size: inherit;
    line-height: 36px;
    height: 36px;
    padding: 0 30px; }

form {
  font-size: 85%; }
  form .control-group {
    margin-bottom: 30px;
    overflow: hidden; }
    form .control-group.error .control-label {
      color: #9c0001; }
    form .control-group.error input[type="email"],
    form .control-group.error input[type="password"],
    form .control-group.error input[type="text"],
    form .control-group.error input[type="file"],
    form .control-group.error textarea,
    form .control-group.error select {
      border-color: #9c0001;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #9c0001; }
  form .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px; }
  form .controls {
    margin-left: 180px; }
    form .controls .control-label {
      margin-right: 15px;
      padding-top: 5px;
      text-align: left;
      width: auto; }

fieldset {
  border: 0;
  border-bottom: 1px solid #cccccc;
  margin: 0;
  padding: 0;
  margin: 26px; }
  fieldset:last-child {
    border-bottom: none;
    margin-bottom: 0; }

button, .btn {
  background-color: #e9e9e9;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background: -moz-linear-gradient(top, #f9f9f9, #e9e9e9);
  background: -o-linear-gradient(top, #f9f9f9, #e9e9e9);
  background: linear-gradient(top, #f9f9f9, #e9e9e9);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e9e9e9 #e9e9e9 #bbbbbb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 85%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  margin-bottom: 0;
  padding: 0 10px;
  vertical-align: middle; }
  button:hover, button:focus, button:active, button[disabled], .btn:hover, .btn:focus, .btn:active, .btn[disabled] {
    color: #333333;
    background-color: #e9e9e9; }
  button.btn-primary, button.btn-inverse, .btn.btn-primary, .btn.btn-inverse {
    background-color: #3b3b3b;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #404040, #333333);
    background: -moz-linear-gradient(top, #404040, #333333);
    background: -o-linear-gradient(top, #404040, #333333);
    background: linear-gradient(top, #404040, #333333);
    border-color: #333333 #333333 #0d0d0d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
    button.btn-primary:hover, button.btn-primary:focus, button.btn-primary:active, button.btn-primary[disabled], button.btn-inverse:hover, button.btn-inverse:focus, button.btn-inverse:active, button.btn-inverse[disabled], .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary[disabled], .btn.btn-inverse:hover, .btn.btn-inverse:focus, .btn.btn-inverse:active, .btn.btn-inverse[disabled] {
      color: white;
      background-color: #333333; }
  button.btn-danger, .btn.btn-danger {
    background-color: #ab0001;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b60001), color-stop(100%, #9c0001));
    background: -webkit-linear-gradient(top, #b60001, #9c0001);
    background: -moz-linear-gradient(top, #b60001, #9c0001);
    background: -o-linear-gradient(top, #b60001, #9c0001);
    background: linear-gradient(top, #b60001, #9c0001);
    border-color: #9c0001 #9c0001 #500001;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
    button.btn-danger:hover, button.btn-danger:focus, button.btn-danger:active, button.btn-danger[disabled], .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger[disabled] {
      color: white;
      background-color: #9c0001; }

input[type="checkbox"],
input[type="radio"],
select {
  cursor: pointer;
  margin: 1px; }
  input[type="checkbox"]::-moz-focus-inner,
  input[type="radio"]::-moz-focus-inner,
  select::-moz-focus-inner {
    border: 0;
    padding: 0; }

input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"],
textarea,
select {
  background: white !important;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: MerriweatherRegular, Georgia, "Times New Roman", Times, serif;
  font-size: inherit;
  height: 30px;
  margin: 1px;
  min-width: 250px;
  outline: none;
  padding: 5px 5px;
  vertical-align: middle; }
  input[type="email"]::-moz-focus-inner,
  input[type="password"]::-moz-focus-inner,
  input[type="text"]::-moz-focus-inner,
  input[type="file"]::-moz-focus-inner,
  textarea::-moz-focus-inner,
  select::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="email"].input-block-level,
  input[type="password"].input-block-level,
  input[type="text"].input-block-level,
  input[type="file"].input-block-level,
  textarea.input-block-level,
  select.input-block-level {
    width: 99.8%; }

input[type="file"] {
  height: auto; }

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px; }
  table.table {
    background: #f9f9f9;
    border: 1px solid #cccccc;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 30px; }
    table.table th {
      font-family: MerriweatherBold, Georgia, "Times New Roman", Times, serif;
      font-weight: bold; }
    table.table td, table.table th {
      border-left: 1px solid #cccccc;
      padding: 8px;
      line-height: 20px;
      text-align: left;
      border-top: 1px solid #cccccc; }
    table.table thead:first-child tr:first-child th,
    table.table tbody:first-child tr:first-child th,
    table.table tbody:first-child tr:first-child td {
      border-top: 0; }
    table.table tbody > tr:nth-child(odd) > td,
    table.table tbody > tr:nth-child(odd) > th {
      background-color: white; }
    table.table tbody tr:hover > td,
    table.table tbody tr:hover > th {
      background-color: whitesmoke; }

.table-list th:nth-child(2), .table-list td:nth-child(2) {
  text-align: center;
  width: 150px; }
.table-list th:last-child, .table-list td:last-child {
  text-align: center;
  width: 120px; }
.table-list td {
  height: 32px;
  overflow: hidden;
  vertical-align: middle; }

#form-pay img {
  vertical-align: middle; }
#form-pay #total-amount {
  font-family: MerriweatherBold, Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 26px;
  padding-top: 5px; }
#form-pay select[name="amount"] {
  min-width: 164px;
  width: 164px; }
#form-pay select[name="currency"] {
  min-width: 80px;
  width: 80px; }
#form-pay select[name="expiry-month"] {
  min-width: 80px;
  width: 80px; }
#form-pay select[name="expiry-year"] {
  min-width: 80px;
  width: 80px; }
#form-pay input[name="cvc"] {
  min-width: 80px;
  width: 80px; }
#form-pay input[name="address-postcode"] {
  min-width: 80px;
  width: 80px; }

#table-subscriptions td:first-child i {
  font-size: 2em; }
#table-subscriptions td em {
  color: #555555; }
#table-subscriptions td span {
  visibility: hidden; }
#table-subscriptions td:hover span {
  visibility: visible; }
#table-subscriptions td button, #table-subscriptions td select, #table-subscriptions td input[type="text"] {
  margin: 0;
  min-width: 0;
  width: 100%; }
#table-subscriptions td button {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1; }
#table-subscriptions tr:hover td button, #table-subscriptions tr:hover td select, #table-subscriptions tr:hover td input[type="text"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

#table-subscriptions-suggestions td, #table-subscriptions-suggestions th {
  vertical-align: middle;
  white-space: nowrap; }
#table-subscriptions-suggestions th:first-child {
  width: 150px; }
#table-subscriptions-suggestions td:last-child {
  width: 120px; }
#table-subscriptions-suggestions td button {
  width: 100%; }

#form-subscriptions-subscribe .message {
  color: #1c9b47;
  padding-left: 10px; }
#form-subscriptions-subscribe .message.error {
  color: #9c0001; }
#form-subscriptions-subscribe .loading {
  background: url('../images/loading-small.gif?1366440990') center center no-repeat;
  display: none;
  height: 26px;
  margin-left: 10px;
  vertical-align: middle;
  width: 26px; }

#feedback {
  border: 2px solid white;
  line-height: 30px;
  font-size: 80%;
  position: fixed;
  text-align: center;
  bottom: 0;
  margin: 0;
  right: 0;
  width: 100px; }
  #feedback a {
    background: #cccccc;
    border: none;
    display: block;
    color: white; }
    #feedback a:hover {
      background: #333333; }

@media all and (max-width: 995px) {
  .alert {
    width: auto; } }
@media all and (max-width: 850px) {
  body {
    font-size: 20px !important; }

  h1, h2, h3, h4, h5, h6 {
    margin: 6px 0; }

  h1 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 30px; }

  h2 {
    font-size: 26px;
    line-height: 30px; }

  h3 {
    font-size: 22px;
    line-height: 25px; }

  h4, h5, h6 {
    font-size: 20px; }

  article .item-date {
    font-size: 80%; }

  #items .date-separator {
    margin: 30px 0; }

  .control-group .control-label {
    display: block;
    float: none;
    font-family: MerriweatherBold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
    width: auto; }

  .control-group .controls {
    margin-left: 0; }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="file"],
  textarea,
  select {
    width: 100%; }

  #page-head {
    height: 150px; }
    #page-head p {
      display: none; }

  article {
    border-top: 1px solid transparent;
    margin-bottom: 26px; }

  #subscriptions td:last-child button {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

  #feedback {
    display: none; } }
@media all and (max-width: 600px) {
  fieldset {
    margin-left: 0;
    margin-right: 0; }

  header h2 {
    display: block;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
    line-height: 60px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap; }
    header h2 a {
      padding-right: 20px; }
  header ul {
    background: white;
    border: 1px solid #eeeeee;
    font-size: 22px;
    padding: 10px 0 10px 0;
    top: 60px;
    width: 100%; }
    header ul.collapsed {
      display: none; }
    header ul li {
      border-width: 0;
      display: block;
      float: none; }
      header ul li.email > a {
        display: none; }
      header ul li.active {
        background: #f8f8f8;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
      header ul li .item-count {
        visibility: hidden; }
      header ul li a {
        display: block;
        line-height: 1em;
        padding: 10px 20px; }
        header ul li a:hover {
          background: none !important; }
      header ul li ul {
        border-width: 1px 0 0 0;
        display: block;
        margin-top: 10px;
        max-height: inherit;
        overflow: hidden;
        padding-bottom: 0;
        position: relative;
        right: 0 !important;
        top: 0;
        width: inherit; }
        header ul li ul.collapsed {
          display: block; }
      header ul li.folders ul {
        border-width: 1px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        left: 20px;
        margin: 0;
        max-height: 250px;
        overflow-y: auto;
        padding-bottom: 10px;
        position: absolute;
        right: 20px !important;
        top: 40px;
        width: auto;
        z-index: 10; }
        header ul li.folders ul.collapsed {
          display: none; } }
